<div class="container mt-2">
  <div class="row justify-content-center" *ngIf="user && user.profile.username === username">
    <div class="col-md-3">
      <div class="row mb-2">
        <div class="col">
          <img width="100%" src="/api/users/{{user.profile.username}}/picture?size=512" class="rounded-circle mb-3">
          <h5 class="mb-1">{{user.profile.name}}</h5>
          <h6 class="text-muted mb-3">@{{user.profile.username}}</h6>
          <p *ngIf="user.profile.bio">{{user.profile.bio}}</p>
          <div *ngIf="user.profile.location">
            <span *ngIf="user.profile.location.latitude && user.profile.location.longitude"><fa name="map-marker"></fa> <a href="{{getLocationQuery(user.profile.location)}}" target="_blank" >{{user.profile.location.label}}</a></span>
            <span *ngIf="!(user.profile.location.latitude && user.profile.location.longitude) && user.profile.location.label"><fa name="map-marker"></fa> {{user.profile.location.label}}</span>
          </div>
          <p *ngIf="user.profile.website"><fa name="globe"></fa> <a href="{{user.profile.website}}" target="_blank">{{user.profile.website}}</a></p>
        </div>
      </div>
      <div class="row mb-4 d-none d-md-block">
        <div class="col">
          <app-user-list title="Followers" [users]="followers" [count]="followers.length"></app-user-list>
        </div>
      </div>
      <div class="row mb-4 d-none d-md-block">
        <div class="col">
          <app-user-list title="Following" [users]="following" [count]="following.length"></app-user-list>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form (ngSubmit)="createProfile()" #form="ngForm" class="validation-hints">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
          {{errorMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username" required [(ngModel)]="profile.username">
          <small class="form-text text-muted" id="usernameHelp">Your name is how you are identified. Required.</small>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name" required [(ngModel)]="profile.name">
          <small class="form-text text-muted" id="nameHelp">Your name is how other users see you. Required.</small>
        </div>
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea class="form-control" id="bio" name="bio" aria-describedby="bioHelp" placeholder="Enter bio" maxlength="160" [(ngModel)]="profile.bio"></textarea>
          <small class="form-text text-muted" id="bioHelp">Your bio describes you in max 160 characters.</small>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" name="location" aria-describedby="locationHelp" placeholder="Enter location" [(ngModel)]="profile.location.label">
          <small class="form-text text-muted" id="locationHelp">Your current location.</small>
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input type="url" class="form-control" id="website" name="website" aria-describedby="websiteHelp" placeholder="Enter website" [(ngModel)]="profile.website">
          <small class="form-text text-muted" id="websiteHelp">Your website.</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Submit</button>
      </form>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <div class="row mb-4">
        <div class="col">
          <app-trends></app-trends>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-about></app-about>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="user && user.profile.username !== username">
    <div class="col text-center">
      <p>
        Hate to break it to you, but you can't just go around editing the profile of other users.
      </p>
      <p>
        Perhaps you meant to edit <a [routerLink]="['/u/' + user.profile.username + '/edit']">your own profile</a>?
      </p>
    </div>
  </div>
</div>
